{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="row">
  <div class="col-6">
    <h1>Users</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ add user</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Name</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr {{#if this.status}} class="table-primary" {{/if}}>
      <td>{{this._id}}</td>
      <td><a href="https://github.com/{{this.pass}}">{{this.pass}}</a></td>
      <td class="text-end">
        <a href="/sendmail/{{this._id}}" target="_blank" type="button" class="btn btn-light btn-small"><i class="bi bi-envelope"></i> Mail</a>
        <a href="/edituser/{{this._id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Edit</a>
        <a href="/del/{{this._id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" id="pr" href="#">Prev</a></li>
    <li class="page-item"><a class="page-link" id="cp">1</a></li>
    <li class="page-item"><a class="page-link" id="nx" href="#">Next</a></li>
  </ul>
</nav>
<script>
      var page = {{page}};
      var prev = page-10;
      var next = page+10;
      if(prev<0){
        prev=0;
      }
      document.getElementById('cp').innerHTML = page+"-"+next;
      document.getElementById('pr').href = "/?page="+prev;
      document.getElementById('nx').href = "/?page="+next;
</script>
